body {

    --twitter-color: #1DA1F2;
    /* --twitter-color: #50b7f5; */
    /* --twitter-background: #15202B; */
    --twitter-background: #e6ecf0;
}
.app {
    display:flex;
    height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

#message {
    display: none;
  }
  
  @media (max-width: 500px){
    #demo {
      display: none;
    }
  
    #message {
      display: grid;
      place-items: center;
      margin-top: 100px;
    }

    app{
        background-color: var(--twitter-color);
    }
  }